*.class
!.classpath
.metadata
*~
rendering-cache
.rendering-cache
http-cache
.http-cache
temporary-data
cachedir
.DS_Store
_deploy
_build
generated_build.xml
generated_ant.sh
generated_ant.bat
target
*.xcuserstate
*.dex
*.apk
*.ap_
*.xcuserdatad
.xcodeproj/ !*.xcodeproj/project.pbxproj
Android/Glob3AndroidSDK/bin/
Android/Glob3AndroidDemo/bin/
*.xcactivitylog
*.d
Android/Glob3AndroidSDK/gen/
Android/Glob3AndroidDemo/gen/
Android/Glob3AndroidSDK/gen/
HTML5/Glob3WebGLDemoJava/war/WEB-INF/deploy/
HTML5/Glob3WebGLDemoJava/war/glob3webgldemojava/
HTML5/Glob3WebGLDemoJava/test-classes/
HTML5/Glob3WebGLDemoJava/war/WEB-INF/classes/
HTML5/Glob3WebGLDemoJava/war/WEB-INF/deploy/
HTML5/Glob3WebGLDemoJava/war/glob3webgldemojava/
HTML5/Glob3WebGLDemoJavaScript/war/WEB-INF/deploy/
HTML5/Glob3WebGLDemoJavaScript/war/glob3webgldemojava/
HTML5/Glob3WebGLDemoJavaScript/test-classes/
HTML5/Glob3WebGLDemoJavaScript/war/WEB-INF/classes/
HTML5/Glob3WebGLDemoJavaScript/war/WEB-INF/deploy/
HTML5/Glob3WebGLDemoJavaScript/war/glob3webgldemojavascript/
converter/compile_errors.txt
