*.class
!.classpath
.metadata
*~
rendering-cache
.rendering-cache
http-cache
.http-cache
temporary-data
cachedir
.DS_Store
_deploy
_build
generated_build.xml
generated_ant.sh
generated_ant.bat
target
*.xcuserstate
*.dex
*.apk
*.ap_
*.xcuserdatad
.xcodeproj/ !*.xcodeproj/project.pbxproj
*.xcactivitylog
*.d
*/bin/

converter/compile_errors.txt

WebGL/G3MWebGLSDK/bin/
WebGL/G3MWebGLSDK/.gwt/
WebGL/G3MWebGLDemo/.gwt/
WebGL/G3MWebGLDemo/gwt-unitCache/
WebGL/G3MWebGLDemo/war/org.glob3.mobile.G3MWebGLDemo/
WebGL/G3MWebGLDemo/war/WEB-INF/classes/
WebGL/G3MWebGLDemo/war/WEB-INF/deploy/

Android/G3MAndroidSDK/bin/
Android/G3MAndroidSDK/gen/
Android/G3MAndroidSDK/build.xml
Android/G3MAndroidSDK/local.properties
Android/G3MAndroidSDK/libs/g3msharedsdk.jar

Android/G3MAndroidDemo/bin/
Android/G3MAndroidDemo/gen/

Android/G3MAndroidTestingApplication/bin/
Android/G3MAndroidTestingApplication/gen/

JavaDesktop/G3MJavaDesktopDemo/bin/
JavaDesktop/G3MJavaDesktopSDK/bin/

Commons/G3MSharedSDK/bin

iOS/G3MiOSSDK/Commons/Debug

WebGL/G3MWebGLTemplate/.gwt/
WebGL/G3MWebGLTemplate/gwt-unitCache/
WebGL/G3MWebGLTemplate/war/org.glob3.mobile.G3MWebGLTemplate/
WebGL/G3MWebGLTemplate/war/WEB-INF/classes/
WebGL/G3MWebGLTemplate/war/WEB-INF/deploy/

WebGL/G3MWebGLTestingApplication/.gwt/
WebGL/G3MWebGLTestingApplication/gwt-unitCache/
WebGL/G3MWebGLTestingApplication/war/org.glob3.mobile.G3MWebGLTestingApplication/
WebGL/G3MWebGLTestingApplication/war/WEB-INF/classes/
WebGL/G3MWebGLTestingApplication/war/WEB-INF/deploy/


*.xccheckout
