html, body {
	margin: 0px !important;
	padding: 0px !important;
	height: 100%;
}

#g3m_frame {
	padding:0px;
	margin:0px;
	overflow: hidden;
	border: none;
}

#ideContainer{
	padding:0px;
	margin:0px;
	overflow-y: scroll;
	font-size: 80%;
	padding-left: 1em;
	padding-right: 1em;
}

.ideContainerTitle, .ideContainerSubtitle {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}

.ideContainerTitle {
	font-size: 14px;
}

.layerChecker {
	margin-right: 1em !important;
}

canvas:focus {
	border: none !important;
	outline: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chooser input, .chooser p { display: inline-block; margin: 0; vertical-align: middle;}
.chooser {margin-bottom:0.5em; margin-left:2em;}
.secondLevel { padding-left: 2em; }
.folderTitle {vertical-align:middle; margin-left: 0.75em; }

#APALegend, #APNLegend {display:none; margin-bottom:0.5em; margin-left:2.5em;}
#pte05Folder, #AEFolder, #paisajeFolder, #VegFolder, #epFolder {margin-bottom:0.5em;}
#pte05Content, #AEContent, #paisajeContent, #VegContent, #epContent {
	/*display: none; */
	margin-bottom:0.5em;
}