/bin/
/PointFeatureStorageTest/
*-quadtree.png
LOD_*.png
LOD-Levels*.png
Cluster_*.png
test.png
/PointFeaturesStorage/
/PointFeaturesLOD/
/PointFeaturesCluster/
/PointFeaturesLOD_Cache/
/test-files/
/testing-bitmaps/
