html, body{
	margin: 0px;
	padding: 0px;
}

html {
    	width: 100%;
	height: 100%;
}

#g3mWidgetHolder {
    position: absolute;
    bottom : 0px;
	width: 100%;
	height: 80%;
	overflow: hidden;
        margin: 0px;
	padding: 0px;
}

canvas:focus {
	border: none !important;
	outline: none !important;
}

.gwt-PopupPanel {
    display: none;
}

h1, #container, #container2 {
        text-align: center;
}

#container2 {
        margin-top: 1em;
}