<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.glob3.mobile.demo"
    android:versionCode="7"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" 
        
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/g3mgen"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar" 
         android:hardwareAccelerated="true"
        >
        <activity
            android:name="org.glob3.mobile.demo.G3MDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MSimplestGlob3Activity"
            android:label="@string/title_activity_g3_msimplest"
            android:launchMode="standard"
            android:process=":G"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MDoubleGlob3Activity"
            android:launchMode="standard"
            android:process=":F"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MSwitchLayerActivity"
            android:configChanges="orientation"
            android:process=":E" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MDrawingShapesActivity"
            android:configChanges="orientation"
            android:process=":D" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MShowMarkersActivity"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:process=":C" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.G3MNetCDFActivity"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:process=":B" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.SimplestRasterActivity"
            android:label="@string/title_activity_simplest_raster"
            android:launchMode="standard"
            android:process=":A"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.ScenarioTerrainActivity"
            android:label="@string/title_activity_scenario_terrain"
            android:launchMode="standard"
            android:process=":H"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.PlaneFlyingActivity__"
            android:label="@string/title_activity_plane_flying"
            android:launchMode="standard"
            android:process=":I"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.PointCloudActivity"
            android:label="@string/title_activity_point_cloud"
            android:launchMode="standard"
            android:process=":J"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.ThreeDModelActivity"
            android:label="@string/title_activity_three_dmodel"
            android:launchMode="singleTask"
            android:process=":K"
            android:screenOrientation="portrait" 
            
            >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.SymbologyActivity"
            android:label="@string/title_activity_symbology"
            android:launchMode="singleTask"
            android:process=":L"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
             >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.FlatWorldActivity"
            android:label="@string/title_activity_flat_world"
            android:launchMode="singleTask"
            android:process=":M"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.CameraAnimation"
            android:label="@string/title_activity_camera_animation"
            android:launchMode="singleTask"
            android:process=":N"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.glob3.mobile.demo.ShapeSymbolizerActivity"
            android:label="@string/title_activity_shape_symbolizer"
             android:launchMode="singleTask"
            android:process=":O"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
             >
                </activity>
            <activity
            android:name="org.glob3.mobile.demo.VectorTilesActivity"
            android:label="@string/title_activity_shape_symbolizer"
             android:launchMode="singleTask"
            android:process=":AA"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
             >
        </activity>
            <activity android:name="VectorStreamingActivity" android:process=":AB"></activity>
            <activity android:name="PointCloudStreamimgActivity" android:process=":AC"></activity>
    </application>

</manifest>